<div class="online_shop_share_block online_shop_share_block_js">
    <ul class="online_shop_share_block-list">
        <li class="online_shop_share_block-list__item">
            <button
                    onClick='window.open("https://telegram.me/share/url?url=http://127.0.0.1:8000/online_shop/{{ online_shop.slug }}/","sharer","status=0,toolbar=0,width=650,height=500");'
                    class="online_shop_share_block-list__btn"
                    title="Поделиться в telegram">
                <i class="fa-brands fa-telegram"></i>
            </button>
        </li>
        <li class="online_shop_share_block-list__item">
            <button
                    onClick='window.open("https://www.facebook.com/sharer.php?u=http://127.0.0.1:8000/online_shop/{{ online_shop.slug }}/","sharer","status=0,toolbar=0,width=650,height=500");'
                    class="online_shop_share_block-list__btn"
                    title="Поделиться в facebook">
                <i class="fa-brands fa-facebook"></i>
            </button>
        </li>
        <!--        <li class="online_shop_share_block-list__item">-->
        <!--            <button-->
        <!--                    class="online_shop_share_block-list__btn"-->
        <!--                    title="Поделиться в instagram">-->
        <!--                <i class="fa-brands fa-instagram"></i>-->
        <!--            </button>-->
        <!--        </li>-->
    </ul>
</div>